---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?coordinates=no-lat,no-lng&location=San%20Francisco&term=Japanese%20curry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="6l1DzKYyKGIy0eetr2iUEg", oauth_nonce="58bae584e093e8f901500490bdfd914a",
        oauth_signature="juTEqCCPu1U8NywGeGM7iqdcQHU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1426812777", oauth_token="El3E4qtoOkX6l_DLD8l40Vr3hUZlNAWe",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web23-uswest1bprod, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - ro
      X-Proxied:
      - extlb1-uswest1aprod
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.18159086000000002, "longitude_delta":
        0.26297644999999648}, "center": {"latitude": 37.783827900000006, "longitude":
        -122.37843195000001}}, "total": 1332, "businesses": [{"is_claimed": true,
        "rating": 4.0, "mobile_url": "http://m.yelp.com/biz/kare-ken-san-francisco",
        "rating_img_url": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "review_count": 302, "name": "Kare-Ken", "snippet_image_url": "http://s3-media3.fl.yelpcdn.com/photo/0UM96jGvigC9ggMrVD-5Fg/ms.jpg",
        "rating_img_url_small": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/v1/stars_small_4.png",
        "url": "http://www.yelp.com/biz/kare-ken-san-francisco", "phone": "4152925273",
        "snippet_text": "Again, I''m not that douchebag that''s gonna tell you how
        \"authentic\" this place is or isn''t. You realize the main point of those
        people is to brag about how...", "image_url": "http://s3-media2.fl.yelpcdn.com/bphoto/2PQ3jN7a-Hc2pDD9V3MW0w/ms.jpg",
        "categories": [["Japanese", "japanese"]], "display_phone": "+1-415-292-5273",
        "rating_img_url_large": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/ccf2b76faa2c/ico/stars/v1/stars_large_4.png",
        "id": "kare-ken-san-francisco", "is_closed": false, "location": {"cross_streets":
        "Ofarrell St \u0026 Geary St", "city": "San Francisco", "display_address":
        ["552 Jones St", "Tenderloin", "San Francisco, CA 94102"], "geo_accuracy":
        8.0, "neighborhoods": ["Tenderloin"], "postal_code": "94102", "country_code":
        "US", "address": ["552 Jones St"], "coordinate": {"latitude": 37.786560100000003,
        "longitude": -122.41294860000001}, "state_code": "CA"}}, {"is_claimed": true,
        "rating": 4.0, "mobile_url": "http://m.yelp.com/biz/muraccis-japanese-curry-and-grill-san-francisco",
        "rating_img_url": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "review_count": 1141, "name": "Muracci''s Japanese Curry \u0026 Grill", "snippet_image_url":
        "http://s3-media1.fl.yelpcdn.com/photo/ih-E-FWtr56QtDdqHIO8CA/ms.jpg", "rating_img_url_small":
        "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/v1/stars_small_4.png",
        "url": "http://www.yelp.com/biz/muraccis-japanese-curry-and-grill-san-francisco",
        "menu_date_updated": 1387643608, "phone": "4157731101", "snippet_text": "Mmmm
        curry. This place is really near my office so we sometimes end up here to
        grab a quick lunch. This place basically sells super yummy Japanese curry!
        I...", "image_url": "http://s3-media3.fl.yelpcdn.com/bphoto/vFnfkNhiw8bVIBHaaOzxzA/ms.jpg",
        "categories": [["Japanese", "japanese"]], "display_phone": "+1-415-773-1101",
        "rating_img_url_large": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/ccf2b76faa2c/ico/stars/v1/stars_large_4.png",
        "menu_provider": "single_platform", "id": "muraccis-japanese-curry-and-grill-san-francisco",
        "is_closed": false, "location": {"cross_streets": "Bush St \u0026 Pine St",
        "city": "San Francisco", "display_address": ["307 Kearny St", "Financial District",
        "San Francisco, CA 94108"], "geo_accuracy": 8.0, "neighborhoods": ["Financial
        District", "Chinatown"], "postal_code": "94108", "country_code": "US", "address":
        ["307 Kearny St"], "coordinate": {"latitude": 37.79092289507389[...]
