---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?location=San%20Francisco&term=San%20Tung%20Chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="6l1DzKYyKGIy0eetr2iUEg", oauth_nonce="fa39bc054df6a37c6882d9c1cf819f4f",
        oauth_signature="bw2H%2F%2Bk0zq04PIezXuNifLPS1PI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1426798477", oauth_token="El3E4qtoOkX6l_DLD8l40Vr3hUZlNAWe",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web19-uswest1aprod, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - ro
      X-Proxied:
      - extlb1-uswest1aprod
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.055419430000000602, "longitude_delta":
        0.10295241000000033}, "center": {"latitude": 37.771941650000002, "longitude":
        -122.45124455}}, "total": 220, "businesses": [{"is_claimed": false, "rating":
        4.0, "mobile_url": "http://m.yelp.com/biz/san-tung-chinese-restaurant-san-francisco",
        "rating_img_url": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "review_count": 4392, "name": "San Tung Chinese Restaurant", "snippet_image_url":
        "http://s3-media4.fl.yelpcdn.com/photo/Fk9KwCxTpqkPiserAaZXjw/ms.jpg", "rating_img_url_small":
        "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/v1/stars_small_4.png",
        "url": "http://www.yelp.com/biz/san-tung-chinese-restaurant-san-francisco",
        "menu_date_updated": 1390471628, "phone": "4152420828", "snippet_text": "Very
        Delicious Food. Very YUMMY!!! \nGreat Service!!!\nGreat Food!!!\nGreat Atmosphere!!!",
        "image_url": "http://s3-media3.fl.yelpcdn.com/bphoto/Wf9OwDKum0j-kHwYpY5AoA/ms.jpg",
        "categories": [["Chinese", "chinese"]], "display_phone": "+1-415-242-0828",
        "rating_img_url_large": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/ccf2b76faa2c/ico/stars/v1/stars_large_4.png",
        "menu_provider": "single_platform", "id": "san-tung-chinese-restaurant-san-francisco",
        "is_closed": false, "location": {"cross_streets": "12th Ave \u0026 11th Ave",
        "city": "San Francisco", "display_address": ["1031 Irving St", "Inner Sunset",
        "San Francisco, CA 94122"], "geo_accuracy": 8.0, "neighborhoods": ["Inner
        Sunset"], "postal_code": "94122", "country_code": "US", "address": ["1031
        Irving St"], "coordinate": {"latitude": 37.763671899999999, "longitude": -122.4689636},
        "state_code": "CA"}}, {"is_claimed": false, "rating": 3.5, "mobile_url": "http://m.yelp.com/biz/san-tung-2-san-francisco",
        "rating_img_url": "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/5ef3eb3cb162/ico/stars/v1/stars_3_half.png",
        "review_count": 114, "name": "San Tung #2", "snippet_image_url": "http://s3-media1.fl.yelpcdn.com/photo/TQrczhqqMJd5yOitI_Iixw/ms.jpg",
        "rating_img_url_small": "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/2e909d5d3536/ico/stars/v1/stars_small_3_hal[...]
