---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?coordinates=no-lat,no-lng&location=San%20Francisco&term=pizza
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="6l1DzKYyKGIy0eetr2iUEg", oauth_nonce="46c42cc5878e3cb48fe65a284d44688c",
        oauth_signature="%2Baj%2BQpS5AXxrgZNjaMDRnyprAW8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1426817315", oauth_token="El3E4qtoOkX6l_DLD8l40Vr3hUZlNAWe",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web102-r10-sfo2, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - ro
      X-Proxied:
      - extlb2-r5-sfo2
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.080920166856429887, "longitude_delta":
        0.10417505999998866}, "center": {"latitude": 37.770815135893649, "longitude":
        -122.4355288}}, "total": 3668, "businesses": [{"is_claimed": true, "rating":
        4.0, "mobile_url": "http://m.yelp.com/biz/tonys-pizza-napoletana-san-francisco",
        "rating_img_url": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "review_count": 2474, "name": "Tony''s Pizza Napoletana", "snippet_image_url":
        "http://s3-media4.fl.yelpcdn.com/photo/Q3-Qai2Ms_VJO_4oNxBnlg/ms.jpg", "rating_img_url_small":
        "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/v1/stars_small_4.png",
        "url": "http://www.yelp.com/biz/tonys-pizza-napoletana-san-francisco", "menu_date_updated":
        1387664062, "phone": "4158359888", "snippet_text": "Best pizzas I''ve had
        in San Fran so far - service is OK - prices are OK \n\nIt is very busy and
        loud though :)", "image_url": "http://s3-media3.fl.yelpcdn.com/bphoto/KmNcTQaM58lgkxBrSW6Wiw/ms.jpg",
        "categories": [["Pizza", "pizza"], ["Italian", "italian"]], "display_phone":
        "+1-415-835-9888", "rating_img_url_large": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/ccf2b76faa2c/ico/stars/v1/stars_large_4.png",
        "menu_provider": "single_platform", "id": "tonys-pizza-napoletana-san-francisco",
        "is_closed": false, "location": {"cross_streets": "Union St", "city": "San
        Francisco", "display_address": ["1570 Stockton St", "North Beach/Telegraph
        Hill", "San Francisco, CA 94133"], "geo_accuracy": 8.0, "neighborhoods": ["North
        Beach/Telegraph Hill"], "postal_code": "94133", "country_code": "US", "address":
        ["1570 Stockton St"], "coordinate": {"latitude": 37.800319700000003, "longitude":
        -122.4089432}, "state_code": "CA"}}, {"is_claimed": true, "rating": 4.5, "mobile_url":
        "http://m.yelp.com/biz/little-star-pizza-san-francisco", "rating_img_url":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 2375, "name": "Little Star Pizza", "snippet_image_url": "http://s3-media2.fl.yelpcdn.com/photo/uxMlIl5b98tUTvIZM8vRDw/ms.jpg",
        "rating_img_url_small": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars[...]
